---
import Layout from "@/layouts/Layout.astro";
import LinkReturn from "@/components/utils/LinkReturn";
import {ShowToastError, ShowToastSuccess} from "@/components/utils/showToast";
import FormCreateProducto from "@/components/FormCreateProduct";
import Loader from "@/components/Loader.astro";

import { getProveedor } from "@/pages/api/seeProve";

const Proveedor = await getProveedor();


if (!Astro.locals.user) {
    return Astro.redirect("/")
}
---

<Layout title="Crear Productos | Tienda 7 de Agosto">
    <Loader />
    <div class="hidden" id="content">
        <div class="flex flex-col bg-[#f4f4f5] px-8 py-5 rounded-xl w-[400px] mx-auto mt-6">
            <h2 class="text-2xl font-bold text-center">Crear Productos</h2>
            <FormCreateProducto client:load Proveedor={Proveedor}/>
        </div>
    </div>
<LinkReturn />

</Layout>