---

---

<form action="/api/logout" method="POST">
    <button type="submit" title="Cerrar Sesion">
        SALIR
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" /><path d="M9 12h12l-3 -3" /><path d="M18 15l3 -3" /></svg>
    </button>
</form>

<style>
    button {
        border: 0;
        padding: 6px 10px;
        border-radius: 10px;
        font-weight: 650;
        transition: background-color 0.3s, color 0.3s;
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: #6cff79;
        border: 2px solid #23b12e;
    }
    button:hover {
        background-color: #70f05a;
        border: 2px solid #28e638;
        color: rgb(250, 250, 250);
    }
</style>