<header class="w-full flex justify-center flex-col items-center mt-6">
  <h1 class="text-4xl">Bienvenido</h1>
  <nav class="flex gap-4 pt-6 justify-center flex-wrap">
    <a href="/app/crearProveedor">Crear Proveedor</a>
    <a href="/app/verProveedor">Ver Proveedores</a>
    <a href="/app/crearCliente">Crear Cliente</a>
    <a href="/app/verCliente">Ver Clientes</a>
    <a href="/app/crearProducto">Crear Producto</a>
    <a href="/app/verProducto">Ver Productos</a>
    <a href="/app/crearFactura">Crear Factura</a>
    <a href="/app/verFactura">Ver Facturas</a>
    <a href="/app/">Ver PQRS</a>
    <a href="/Manual_Usuario.pdf" target="_blank">Ver Manual</a>
  </nav>
</header>

<style>
  a {
    background-color: #f4f4f5;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition:
      background-color 0.3s,
      color 0.3s;
  }
  a:hover {
    background-color: rgb(86, 214, 86);
    color: white;
  }
</style>
